<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <title>{% block title %}Tr.Exp{% endblock %}</title>
</head>
<body>
    {% block header %}
    <header>
        <h1>Expense Tracker</h1>
    </header>
    {% endblock %}

    {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
            {% for category, message in messages %}
                {% if category == "error" %}
                    <p class="red">{{ message }}</p>
                {% else %}
                    <p class="green">{{ message }}</p>
                {% endif %}
            {% endfor %}
        {% endif %}
    {% endwith %}

    {% block content %}
    <main>
        <p>Tr.Exp</p>
        <p>Manage your expenses</p>
        <a href="{{ url_for('auth.login') }}">Login!</a>
    </main>
    <footer>
        <p>Enjoy! © Yevhen Khreptun</p>
    </footer>
    {% endblock %}
</body>
</html>