{% extends "base.html" %}

{% block title %}Login{% endblock %}

{% block header %}
<header>
    <h2>Welcome to the Expense Tracker</h2>
</header>
{% endblock %}

{% block content %}

{% block login_title %}Please log in into your account{% endblock %}

<form method="POST">
    <label for="email">
        <p>Email</p>
        <input type="email" id="email" name="email">
    </label>
    <label for="password">
        <p>Password</p>
        <input type="password" id="password" name="password">
    </label>
    <!-- <label for="name">
        <p>Show password</p>
        <input type="checkbox">
    </label> -->
    <button type="submit">Login</button>
</form>
<div>
    <p>Don't have an account?</p>
    <a href="{{ url_for('auth.sign_in') }}">Sign up</a>
</div>
{% endblock %}
