{% extends "base.html" %}

{% block title %}Register{% endblock %}

{% block header %}
<header>
    <h2>Welcome to the Expense Tracker</h2>
</header>
{% endblock %}

{% block content %}
{% block login_title %}Please register{% endblock %}

<form method="POST">
    <label for="name">
        <p>Name</p>
        <input type="text" id="name" name="name">
    </label>
    <label for="email">
        <p>Email</p>
        <input type="email" id="email" name="email">
    </label>
    <label for="password">
        <p>Password</p>
        <input type="password" id="password" name="password">
    </label>
    <!-- <label for="name">
        <p>Show password</p>
        <input type="checkbox">
    </label> -->
    <label for="confirm_password">
        <p>Confirm Password</p>
        <input type="password" id="confirm_password" name="confirm_password">
    </label>
    <button type="submit">Sign Up</button>
</form>
<div>
    <p>Have an account?</p>
    <a href="{{ url_for('auth.login') }}">Login</a>
</div>
{% endblock %}